@media (min-width: 500px) {
    body {
        background-color: white;
    }
}

@media (max-width: 499px) {
    body {
        background-color: yellow;
    }
}

h3 {
    color: navy;
    margin-left: 10px;
}

ol > li {
    color: gray;
}
    
#hare {
    color: red;
}


.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}    

.button:hover {
        background-color: skyblue;
        color: white;
}